@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .btn-primary {
        @apply 
        text-2xl
        bg-red-500 text-white px-4 py-2 rounded-full 
        inline-flex items-center justify-center tracking-tighter 
        transition-colors duration-200 border 
        border-red-500 hover:bg-transparent 
        hover:text-white 
        hover:border-red-500;
    }

    .hover-effect {
        @apply relative inline-block text-white no-underline;
    }

    .hover-effect::after {
        content: '';
        @apply absolute block h-0.5 bg-red-500;
        width: 0;
        margin-top: 1;
        right: 1/2;
        transition: width 0.3s ease, right 0.3s ease;
    }

    .hover-effect:hover::after {
        width: 100%;
    }

}