@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .btn-primary {
        @apply 
        text-2xl
        font-bold
        bg-orange-600 text-white px-4 py-2 rounded-full 
        inline-flex items-center justify-center tracking-tighter 
        transition-colors duration-200 border 
        border-orange-600 hover:bg-white
        hover:text-orange-600
        hover:border-orange-600
        hover:border-2;
    }

    .logo-ticker-image {
        @apply h-8 w-auto;
    }

    .section-title {
        @apply text-center text-5xl font-bold leading-[30px] tracking-tight;
    }

    .section-description {
        @apply text-center text-[18px] leading-[30px] tracking-tight;
    }

    .navbar-item {
        @apply text-white;
    }

    .navbar-item:hover {
        @apply text-orange-600; 
    }
}